$danger: #d95a53;
$dangerDark: #8a4e4a;
$lightGray: rgb(151, 151, 151);
$lightestGray: rgb(230, 230, 230);
$darkGray: rgb(97, 97, 97);
$darkblue: #353842;
$almostdarkGray: rgb(175, 175, 175);
$backgroundColor: #fafafad9;
$backgroundColorDark: #d6d5d5d9;